/* COMMON styles =============================================================== */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
    color: #111111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* HEADER styles =============================================================== */
#logo{
    margin: 15px 0 0 10px;
}

#logo img{
    width: 120px;
    height: auto;
}

.header-content{
    margin-top: 20px;
}

.header-content-main{
    text-align: center;
    width: 650px;
    margin: auto;
}

.header-content-main p{
    margin-top: 10px;
}

.header-content-main p span{
    font-weight: bold;
}

.info-container{
    width: 800px;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 180px 180px;
    gap: 25px;
    justify-content: center;
}

.info-item{
    background-color: #ffffff;
    padding: 25px;
    text-align: center;
    transition: transform 1s;
    cursor: pointer;
}

.info-item:hover{
    transform: translateY(-20px);
}

.info-icon i{
    font-size: 40px;
    color: #5c54db;
}

.info-item h4{
    margin-top: 10px;
    text-transform: uppercase;
}

.info-text {
    display: block;
    margin-top: 20px;
}

.info-text a{
    color:#5c54db;
}

/* TESTIMONIALS styles =============================================================== */

.testimonials{
    width: 960px;
    margin: 80px auto;
}

.testimonials-header h4{
    text-transform: uppercase;
}

.testimonials-header h2{
    text-transform: capitalize;
    margin-top: 15px;
}

.testimonials-item{
    background-color: #ffffff;
    width: 700px;
    margin-top:25px;
    display:flex;
    padding: 20px;
}

.testimonials-img img{
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

/* CONTACT FORM styles =============================================================== */

.wrapper{
    background-color: #ffffff;
    padding: 80px 0;
}

.contact{
    width: 960px;
    margin: auto;
}

.contact-header h3{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.contact-form{
    margin-top: 80px;
}

.contact-form form input, textarea{
    padding: 10px;
    border: 1px solid #b9c1cc;
}

.contact-form form textarea{
    resize: vertical;
}

.contact-form form input:first-child{
    margin-right: 10px;
}

.contact-form form .halfwidth{
    width: calc(100%/2 - 8px);
}

.contact-form form .fullwidth{
    width: 100%;
    margin-top: 15px;
}

.contact-form form input[type=submit]{
    background-color: #fff;
    border: 2px solid #000;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: all 1s;
}

.contact-form form input[type=submit]:hover{
    background-color: #000;
    color:#fff;
}

/* FOOTER styles ===================================================================== */
footer{
    background-color: #333333;
    height: 140px;
    padding-top: 40px;
    
}

footer p{
    text-align: center;
    width:400px;
    margin: auto;
    color: #ffffff;
    font-size: 12px;
}